div {
	padding-top: 10px;
	padding-bottom: 10px;
}

.center {
	margin: auto;
	text-align: center;
}

.circle {
    width: 40%;
}

.circle:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: #CA0034;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.circle-text {
    float: left;
    font-size: 6vw;
    width: 100%;
    padding-top: 50%;
    line-height: 1em;
    /*margin-top: -0.5em;*/
    margin-top: -1em;
    text-align: center;
}

/*.circle {
	width: 50%;
	height: 50%;
	border-radius: 50%;
	font-size: 100px;
	color: #000000;
	line-height: 500px;
	text-align: center;
	background: #CA0034;
}
*/

.clear {
	clear: both;
}

.input-field {
	background: transparent;
	border: 0px;
	border-bottom: 1px solid black;
	font-size: 16px;
	margin-top: 10px;
	text-decoration: underline;
	width: 100%;
}

.left {
	float: left;
	width: 45%;
}

.quote {
	font-size: 18px;
	font-style: italic;
}

.right {
	float: right;
	width: 50%;
}

.title {
	display: block;
	font-size: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#title {
	font-style: italic;
	text-align: center;
}

#main {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
}

#title-graphic {
	background-image: url("../img/cards.jpg");
	background-size: 100% 100%;
	margin-left: -8px;
	margin-right: -8px;
}

#experience {
	padding-top: 100px;
	width: 100%;
}

#mac-alum {
	font-style: italic;
	padding-top: 100px;
	width: 100%;
}

/*#footer {
	text-align: center;
}*/
